<<<<<<< HEAD
.assortment__bg {
  background-color: #f9f9f9;
  background: url("../../img/hero-mobile@1x.jpg") no-repeat -123px -35px;
=======
.assortment__wrapper {
  background: url("../../img/hero-mobile@1x.jpg") no-repeat -123px -35px;
  background-color: #f9f9f9;
>>>>>>> 8c4c0a9822535c73c5498412137f1494094c3164
}

.assortment__item {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
<<<<<<< HEAD
=======
  padding-left: 30px;
>>>>>>> 8c4c0a9822535c73c5498412137f1494094c3164
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  position: relative;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

@media (min-width: @tablet-width) {
  .assortment {
<<<<<<< HEAD
    background-color: #f9f9f9;
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .assortment__bg {
    background-image: url("../../img/");
  }
}

@media (min-width: @tablet-width) {
  .assortment__bg {
    background-color: #f9f9f9;
    background: url("../../img/hero-tablet@1x.jpg") no-repeat -240px 0;
=======
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ececec;
    position: relative;
  }

  .assortment::after {
    content: "";
    width: 100%;
    height: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../../img/bg-zigzag-fill.svg") repeat-x 0 0;
    z-index: 5;
  }

  .assortment__wrapper {
    width: @tablet-width;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: url("../../img/hero-tablet@1x.jpg") no-repeat -190px 0;
>>>>>>> 8c4c0a9822535c73c5498412137f1494094c3164
  }

  .assortment__item {
    width: 334px;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 43px;
    box-sizing: border-box;
<<<<<<< HEAD
=======
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .assortment {
    background-color: #f9f9f9;
    padding: 0;
  }

  .assortment__wrapper {
    width: @desktop-width;
    background: url("../../img/hero-desktop@1x.jpg") no-repeat 0 0;
  }

  .assortment__item {
    width: 525px;
    border-bottom: 50px solid #000000;
    border-image-source: url("../../img/bg-zigzag-line.svg");
    border-image-repeat: stretch;
    border-image-width: 0 0 50px 0;
>>>>>>> 8c4c0a9822535c73c5498412137f1494094c3164
  }
}
