.page-main__wrapper {
  padding: 0 30px;
  background-color: #f9f9f9;
}

.page-main__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  padding-top: 75px;
  padding-bottom: 115px;
  margin: 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    padding-top: 162px;
    padding-bottom: 370px;
    font-size: 43px;
    line-height: 50px;
    
  }
}
