.page-footer {
  background-color: #f1f1f1;
  padding: 0 30px;
}

.page-footer__social {
  padding: 29px 0;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__social-list {
  margin: 0 auto;
  padding: 0;
}

.page-footer__developers {
  width: 183px;
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
  margin: 0 auto;
}

.page-footer__developer {
  margin: 0;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  padding-top: 10px;
}

