.product-of-week {
  padding: 30px 30px 35px 30px;
}

.product-of-week__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.product-of-week__flag {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-of-week__description,
.product-of-week__characteristic {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.product-of-week__description {
  margin-bottom: 30px;
}

.product-of-week__characteristic {
  border-collapse: collapse;
  width: 260px;
  margin-bottom: 28px;
}

.product-of-week__row {
  border-bottom: 1px solid #ececec;
}

.product-of-week__cell {
  padding: 10px 0;
}

.product-of-week__price {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}
