.user-menu--closed {
  display: none;
}

.user__item {
  border-bottom: 1px solid #ececec;
}

.user__item--icon-search {
  position: absolute;
  top: 30px;
  left: 32px;
  opacity: 0.2;

  &:hover {
    opacity: 1;
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}


.user__item--link {
  display: block;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 75px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  position: relative;

  &:hover {
    opacity: 0.6;
  }
}

.user__item--icon-cart {
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0.2;

  &:hover {
    opacity: 1;
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .user-menu {
    width: 348px;
    order: 2;
  }

  .user__item {
    border: none;

    &--link {
      padding-left: 82px;
      padding-top: 31px;
    }
  }

  .user__item--search-link {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    font-size: 0;
  }

  .user__item--span {
    display: none;
  }

  .user__item--icon-search {
    top: 36px;
    left: 33px;
  }

  .user__item--icon-cart {
    top: 35px;
    left: 31px;
  }
}

@media (min-width: @desktop-width) {
  .user-menu {
    order: 3;
    width: 350px;
    margin-left: auto;
  }

  .user__item--search-link {
    width: 83px;
  }

  .user__item--cart-link {
    width: 265px;
    text-align: right;
  }

  .user__item--link {
    padding: 33px 0;
  }

  .user__item--span {
    display: block;
    margin-left: auto;
    font-weight: normal;
    padding: 0;
    margin-top: -9px;
  }
}
