.wrapper {
  width: @mobile-width;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: @tablet-width) {
  .wrapper {
    width: @tablet-width;
    padding: 0 50px;
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    width: @desktop-width;
  }
}
